<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="connectionConfig"
             type="WpfAppConfigTest.ConnectionConfigSection, WpfAppConfigTest"
             restartOnExternalChanges="false"/>
    <section name="fileConfig"
             type="WpfAppConfigTest.FileConfigurationSection, WpfAppConfigTest"
             restartOnExternalChanges="false"/>
    <section name="scriptConfig"
             type="WpfAppConfigTest.ScriptConfigurationSection, WpfAppConfigTest"
             restartOnExternalChanges="false"/>
    <section name="ioConfig"
             type="WpfAppConfigTest.IOConfigurationSection, WpfAppConfigTest"
             restartOnExternalChanges="false"/>
  </configSections>
  <!--
    Connection Configurations
  -->
  <connectionConfig>
    <scheme kind="ftp://"/>
    <guest name="guest" address="1.1.1.2" user="" pass="" />
    <host name="host" address="1.1.1.1" user="host" pass="host" />
    <hosts>
      <add name="host1" address="1.2.3.4" user="aaa" pass="aaa" />
      <add name="host2" address="1.2.3.5" user="bbb" pass="bbb" />
      <add name="host3" address="1.2.3.6" user="ccc" pass="ccc" />
    </hosts>
  </connectionConfig>
  <!--
    Getting File Configurations
  -->
  <fileConfig>
    <file1 name="ファイル１" path="" />
    <file2 name="ファイル２" filename="" >
      <files>
        <add name="aaa" path="" />
        <add name="bbb" path="" />
        <add name="ccc" path="" />
        <add name="ddd" path="" />
        <add name="eee" path="" />
        <add name="fff" path="" />
        <add name="ggg" path="" />
        <add name="hhh" path="" />
        <add name="iii" path="" />
        <add name="jjj" path="" />
      </files>
      <!--
      <fileStructure>
        
      </fileStructure>
      -->
    </file2>
  </fileConfig>

  <scriptConfig>
    <script file="PowerShell.exe" option="" filePath=""/>
  </scriptConfig>

  <ioConfig>
    
  </ioConfig>
</configuration>